<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <title>Angular JS Calculator</title>
</head>

<body>
    <table align="center" border="11" ng-app="">
        <tr>
            <td>Enter Number 1</td>
            <td><input type="number" placeholder="Number 10" ng-model="n1"></td>
        </tr>
        <tr>
            <td>Enter Number 2</td>
            <td><input type="number" placeholder="Number 2" ng-model="n2"></td>
        </tr>
        <tr>
            <td>addition</td>
            <td>{{n1+n2}}</td>
        </tr>
        <tr>
            <td>subtraction</td>
            <td>{{n1-n2}}</td>
        </tr>
        <tr>
            <td>division</td>
            <td>{{n1/n2}}</td>
        </tr>
    </table>
</body>

</html>